@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");

h2 {
  text-align: center;
  font-color: black;
}

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #444;
}

div {
  /* border: 2px solid red; */
}

html,
body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1 em;
  font-weight: lighter;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-header {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("../images/headingFootingBackground.png");
  /* background-blend-mode: multiply; */
  background-size: cover;
  padding-bottom: 30px;
}

.name {
  text-align: center;
  margin: 0;
  font-size: 2em;
  font-family: Monoton;
  font-weight: bold;
}

.name-large {
  font-size: 6em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto 1em auto;
  padding: 0 1.5em;
}

.section-header {
  font-family: Monoton;
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}

.about-image {
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 25%;
}

.main-footer {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("../images/headingFootingBackground.png");
  /* background-blend-mode: multiply; */
  background-size: cover;
  padding-bottom: 30px;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 0.5em;
}

.footer-nav img {
  width: 50px;
  height: 50px;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em;
  cursor: pointer;
}

.btn-header {
  display: block;
  margin: auto;
  color: #333;
  border: 2px solid #333;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  font-size: 1em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgb(51, 51, 51, 0.5);
}

.btn-play {
  margin: 0 auto;
  color: #333;
  font-size: 4em;
  border-radius: 50%;
  padding: 0;
  width: 100px;
  height: 100px;
}

.tour-row {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.tour-row:last-child {
  border-bottom: none;
}

.tour-item {
  display: inline-block;
  padding-right: 0.5em;
  width: 150px;
  color: #333;
  margin-bottom: 15 px;
}

a {
  text-decoration: none;
}

.tour-date {
  color: #333;
  font-weight: bold;
  width: 11%;
}

.tour-city {
  width: 24%;
}

.tour-arena {
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.tour-btn {
  max-width: 19%;
}

.btn-primary {
  color: white;
  background-color: #333;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: rgb(51, 51, 51, 0.5);
}

.projects {
  position: relative;
  height: 350px;
  margin-top: 10px;
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  position: absolute;
  top: 0;
  align-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15 px;
}

.shop-item-image {
  height: 150px;
  margin-top: 50%;
}

.most-recent-item {
  height: 2px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
  position: absolute;
  bottom: 0;
  left: 0;
}
.shop-item-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 1.5em;
  font: size 1.2;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: red;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: darkred;
}

.cart-quantity-input {
  height: 28px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #eeee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.15em;
}

.recentProjects {
  position: relative;
  right: 0;
  bottom: 0;
}