@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #444;
  margin: 0;
  padding: 0;
  background-color: rgb(135, 157, 91, 0.07);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23879d5b' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.footer {
  min-height: 100%;
  position: relative;
  padding-bottom: 150px;
}

.footerContainer {
  position: absolute;
  bottom: 0;
  display: flex;
  background-image: url("../assets/images/headingFootingBackground.png");
  background-size: cover;
  width: 100%;
}

.footerName {
  width: 50%;
  font-size: 2em;
  font-family: Monoton;
  font-weight: bold;
  background: none;
  text-align: right;
}

.footerNav {
  width: 50%;
  background: none;
  text-align: left;
}

.footerContainer li {
  padding: 0 0.5em;
  display: inline;
  background: none;
}

.footerContainer img {
  width: 50px;
  height: 50px;
  background: none;
}

.footerContainer a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
  background: none;
}
